body {
  background-color: #5F8670;
}

.container{
  text-align: center;
}

h1{
  font-size: 6rem;
  font-family: 'Heebo', sans-serif;
  font-family: 'Indie Flower', cursive;
  color: #FF9800;
}

.player-1,
.player-2 {
  font-size: 2rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #FF9800;
  margin-right: 90px;
  margin-left: 90px;
  
}


img{
  width: 220px;
  height: 220px;
  margin-right: 40px;
  margin-left: 30px;
}